@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(61deg, rgba(2, 0, 36, 1) 0%, rgba(97, 121, 9, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-attachment: fixed;
  text-align: center;
}